@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 220 14.3% 9.1%;
    --secondary: 220 14.3% 9.1%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215 25% 65.1%;
    --accent: 210 40% 98%;
    --accent-foreground: 220 14.3% 9.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 34.9% 92.5%;
    --radius: 0.5rem;
    
    --chart-1: 207 44% 49%;
    --chart-2: 181 100% 74%;
    --chart-3: 0 72% 51%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220 9.1% 43.1%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14.3% 9.1%;
    --muted: 220 9% 80%;
    --muted-foreground: 225 8.9% 41%;
    --accent: 220 13% 91%;
    --accent-foreground: 220 14.3% 9.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
